
    <div class="about-container">
      <div class="large-image"></div>
        <div class="row">
          <div class="boxed">
            <p class="motto">
              Frontin' Charles is a convenient, comprehensive way for fronend software developers to find jobs. We know how difficult is can be to sort through all the various job sources and different types of tech jobs. In the end, you can become frustrated and feel demoralized. Just like many of the great companies here in Charleston, we are about people...And you are a valuable engineer who deserves to be treated as such. Go ahead, take a look at our page, and FIND A JOB!
            </p>
          </div>
        </div>
      </div>
