.logo {
  img {
    max-height:100px;
    max-width:160px;
  }
}

.container-admin {
  background-color:white;
  padding:20px;
  border-radius:4px;
  color:black;
  font-family:'Helvetica', sans-serif;
  margin-top:80px;
  margin-bottom:40px;
}


.login {
  width:300px;
  padding:40px;
  border-radius:4px;
  background-color:white;
  margin:0 auto;
  margin-top:20vh;
}
