//HERE IT IS



.header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.40);
}
.homePage {
    font-size: 20px;
    color: white;
    vertical-align: middle;

}
.linkss {
    color: white;
    font-size: 20px;
    vertical-align: middle;


}
.adminn {
    color: white;
    font-size: 20px;

}

* {
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url("../images/wallpaper.png");



}

.right {
    display: block;
    margin: 0;
    padding: 0 150px;
    width: 100%;
    background-image: url("../images/wallpaper.png");
}

.container-list {
    padding: 0;
    margin:0 auto;
    text-align:center;
}
.box {
    text-align:left;
    background-color: white;
    border-radius: 8px;
    width: 260px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 0;
    margin-right: 0;
    padding: 0;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.61);
    text-transform: none;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    position: relative;
    min-height: inherit;
    &:hover {
      transform: translateY(-3px);
    }

}
.boxTop {
    margin: 0;
    padding: 5px;
    height: 106px;
    position: relative;
    -webkit-filter: grayscale(100%); filter: grayscale(100%);
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);

    &:hover {
        -webkit-filter:none;
    }
}
.boxLogo {
    margin: 0 auto 0 auto;
    padding: 0;
    display: inline-block;
    height: 100%;
    width: 75%;
    position: relative;

}
.companyLogo {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    margin: 0 auto 0 auto;
}
.boxHiring {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;
    height: 60px;
    width: 60px;
    border: 0 none;
    z-index: 1;
    position: absolute;

}
.hiring {
    border: 0 none;
    background-image: url("../images/hiring.png");
    background-size: cover;
    height: 100%;
    width: 100%;
    display: inline-block;
}
.not-hiring {

}
.boxBottom {
    margin: 0;
    padding: 0;
    background-color: #77bdc6;
    width: 100%;
    height: 44px;
    border-radius: 0 0px 8px 8px;
}
.companyName {
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    color: rgb(39, 109, 118);

}
.favorite {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 0 0 6px;
    float: left;
}
.favorite:focus {
    outline-color: transparent;
    outline-style: none;
    .star polygon {
      fill: #ffd055 !important;
    }
}
.stars {
  cursor: pointer;
  text-transform: none;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
    &:hover {
        .star polygon {
          fill: #ffd055 !important;
        }
    }
}
.stars.click {}
polygon {
  fill: #d8d8d8;
}

.starss polygon {
    fill: #ffd055 !important;
}



.more {
    display: inline-block;
    float: right;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//    text-shadow: 0.5px 0.5px rgb(39, 109, 118);

    &:hover {
      transform: translateY(-2px);
      color: white;
      text-decoration: none;
      text-shadow: 2px 2px rgba(39, 113, 119, 0.78);
    }
}

ul > li.box {
  position:relative;
  float:left;
  list-style-type: none;
  width:50%;
  height:100%;
  margin-top: 5%;
  margin-left: 23%;
  padding:5px;
  box-sizing:content-box;
  background:#fff;

  border-radius:10px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.50);
  -webkit-transition: all .2s ease-in;

}
ul > li.box:hover {
  -webkit-transform: translate(0,-5px);
  transform: translate(0, -5px);
  background: #ECF0F1;

}
.info {
  clear:both;
}
img.profile {
  float:left;
  padding:8px;
  margin:3px;
  border-radius: 10%;
}

h1.title {
  font-family: helvetica, arial, sans-serif;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
  text-shadow: 0 1px 5px rgba(0,0,0,0.50);
}

.infoDescriptionDetail {
  margin-right: 15%;
  margin-top: 3%;
}

hr {margin:2 auto;width:80%;}

///////////////styling for detail view box contents////////////////

i.fa {
  margin-right:10px;
  transition: all .5s ease;

}
img.detailview {
  max-width:180px;
  max-height:100px;
  display:block;
  margin:0 auto;
  margin-bottom:20px;
  margin-top:20px;
}
span.addresstwo {
  margin-left:24px;
}
