<ui-gmap-google-map center='map.center' zoom='map.zoom'>

  <div ng-repeat="company in compCtrl.companies">
    <ui-gmap-marker
          idKey='company._id'
          coords='company.coords'
    >
      <ui-gmap-window options="windowOptions" closeClick="closeClick()">
          <div class="map-window">
            <img data-ng-src="{{company.logo}}" />
            <div class="map-comp-detail">
              <p>
                <i class="fa fa-building"></i>{{company.address1}} <br />
                 <span class="addresstwo">{{company.city}}, SC</span></p>
              <p>
                 <i class="fa fa-phone"></i>{{company.phone}}
              </p>
              <p>
                 <i class="fa fa-envelope"></i><a href="mailto:{{company.email}}" >{{company.email}}</a>
              </p>
              </p>
              <p><i class="fa fa-link"></i><a href="{{company.website}}" target="_blank">{{company.website}}</a></p>
              <p>{{company.descrShort}}</p>
              <!-- <button class="btn-favorites" href="" ng-click="compCtrl.addToFavorites(company)"><i class="fa fa-heart"></i>Add to favorites</button> -->
            </div>
        </div>
      </ui-gmap-window>
    </ui-gmap-marker>
  </div>
</ui-gmap-google-map>
